<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" type="text/css">
    <meta charset="UTF-8">
    <title>Update Form</title>
</head>
<body>
<div class="w3-panel w3-gray">
    <h1 class="w3-text-black" style="text-shadow:1px 1px 0 #444">
        <b>Zmodyfikuj Drink</b>
    </h1>
</div>
<form action="#" th:action="@{/upDrink/?(bar=${bar},cas=${cas})}" class="w3-container" method="post" th:object="${drink}">
    <label for="name" class="w3-text-indigo"><b>Nazwa drinka</b></label>
    <input class="w3-input w3-border" type="text" id="name" th:field="*{name}" th:placeholder="${oldName}"/>
    <div class="w3-padding-16">
        <input type="submit" class="w3-btn w3-gray w3-padding" value="Zmień"/>
        <a th:href="@{../../drinks/?(rest=${bar},cas=${cas})}" class="w3-btn w3-gray w3-padding">Wróć</a>
    </div>
</form>
</body>
</html>