<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" type="text/css">
    <meta charset="UTF-8">
    <title>Update Form</title>
</head>
<body>
<div class="w3-panel w3-gray">
    <h1 class="w3-text-black" style="text-shadow:1px 1px 0 #444">
        <b>Zmodyfikuj Żeton</b>
    </h1>
</div>
<form action="#" th:action="@{/upChip}" class="w3-container" method="post" th:object="${chip}">
    <label for="value" class="w3-text-indigo"><b>Wartość żetonu</b></label>
    <input class="w3-input w3-border" type="number" id="value" th:field="*{value}" th:placeholder="${oldValue}">

    <label for="color" class="w3-text-indigo"><b>Kolor żetonu</b></label>
    <input class="w3-input w3-border" type="text" id="color" th:name="color" th:field="*{color}" th:placeholder="${oldColor}">

    <div class="w3-padding-16">
        <label for="size" class="w3-text-indigo"><b>Wybierz wielkość</b></label>
        <select class="w3-select" name="size" id="size" th:field="*{size}">
            <option disabled selected th:value="${oldSize}" th:text="${oldSize}"></option>
            <option th:value="MAŁY" th:text="MAŁY"></option>
            <option th:value="ŚREDNI" th:text="ŚREDNI"></option>
            <option th:value="DUŻY" th:text="DUŻY"></option>
        </select>
    </div>

    <label for="real_val" class="w3-text-indigo"><b>Wartość żetonu w PLN</b></label>
    <input class="w3-input w3-border" type="number" id="real_val" th:field="*{real_val}" th:placeholder="${oldReal}">


    <div th:if="${#fields.hasErrors('global')}">
        <h3>Nie udało się dodać rekordu, z powodu błędów:</h3>
        <p th:each="err : ${#fields.errors('global')}" th:text="${err}"
           class="error" />
    </div>

    <div class="w3-padding-16">
        <input type="submit" class="w3-btn w3-gray w3-padding" value="Zmień"/>
        <a href="../chips" class="w3-btn w3-gray w3-padding">Wróć</a>
    </div>
</form>
</body>
</html>